<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left"> 
    </ActionItem>
    <Label text="Detalles"></Label>
</ActionBar>
<!-- <StackLayout class="page__content">
            <Label class="page__content-icon far" text="&#xf1ea;"></Label> 
            <RadDataForm [source]="person"></RadDataForm> 
            <button text="Ir a eventos" (tap)="onNavItemTap('/events')"></button>
            <android>
               <Label class="color" text="Hola Mundo Android"></Label> 
            </android> 
            <ios>
                <label class="color" text="Hola Mundo IOS"></label>
            </ios>
</StackLayout> -->
<GridLayout>
    <ScrollView>
        <StackLayout class="home-panel">
            <StackLayout>
                <Label class="page__content-icon far" text="&#xf1ea;"></Label>   
            </StackLayout>
            <FlexboxLayout flexDirection="row">
                <Label text="Detalles de producto" class="t-12"
                    verticalAlignment="center" style="width: 60%">
                </Label>
            </FlexboxLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>