<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left"> 
    </ActionItem>
    <Label text="Historial"></Label>
</ActionBar>
<!-- <StackLayout class="page__content">
            <Label class="page__content-icon far" text="&#xf1ea;"></Label> 
            <RadDataForm [source]="person"></RadDataForm> 
            <button text="Ir a eventos" (tap)="onNavItemTap('/events')"></button>
            <android>
               <Label class="color" text="Hola Mundo Android"></Label> 
            </android> 
            <ios>
                <label class="color" text="Hola Mundo IOS"></label>
            </ios>
</StackLayout> --> 
<GridLayout>
    <ScrollView>
        <StackLayout class="home-panel">
            <StackLayout>
                <Label class="page__content-icon far" text="&#xf1ea;"></Label>   
            </StackLayout>
            <ListView [items]="countries" style="height:1050px">
                <ng-template let-country="item"> 
                    <FlexboxLayout flexDirection="row">
                        <Image [src]="country.imageSrc" class="thumb img-circle" stretch="aspectFill"></Image>
                        <Label [text]="country.name" class="t-12"
                            verticalAlignment="center" style="width: 60%">
                        </Label>
                    </FlexboxLayout>
                </ng-template>
            </ListView>  
            <PullToRefresh (refresh)="onPull($event)" indicatorFillColor="#fff000" indicatorColor="#3489db">
                <ListView [items]="resultados" style="height:200px">
                    <ng-template let-x="item">
                        <FlexboxLayout flexDirection="row">
                            <Image src="res://logo" class="thumb img-circle" stretch="aspectFill"></Image>
                            <Label [text]="x" class="t-12"
                                verticalAlignment="center" style="width: 60%">
                            </Label>
                        </FlexboxLayout>
                    </ng-template>
                </ListView>  
            </PullToRefresh>
            <!-- <PullToRefresh (refresh)="onPull($event)" indicatorFillColor="#fff000" indicatorColor="#3489db">
                <ListView [items]="this.resultados" (itemTap)="onItemTap($event)"
                    style="height:1250px">
                    <ng-template let-x="item">
                        <FlexboxLayout flexDirection="row">
                            <Image src="res://logo" class="thumb img-circle" stretch="aspectFill"></Image>
                            <Label [text]="x" class="t-12"
                                verticalAlignment="center" style="width: 60%">
                            </Label>
                        </FlexboxLayout>
                    </ng-template>
                </ListView> 
            </PullToRefresh> -->
            <!-- <ios>
                <label class="color" text="Linea Visible an IOS"></label>
            </ios>

            <android>
                <Label class="color" text="{{lineav}}"></Label> 
            </android>  -->
            <button class="-primary" text="Ir a eventos" (tap)="onNavItemTap('/events')"></button>
        </StackLayout>
    </ScrollView>
</GridLayout>