<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Inicio"></Label>
</ActionBar>
 

    <GridLayout class="page__content">
       <!-- <Label class="page__content-icon fas" text="&#xf015;"></Label> 
            <Label class="page__content-placeholder" text="Bienvenido"></Label> -->  
        <ScrollView>  
            <StackLayout>
                <Label class="page__content-icon fas" text="&#xf015;"></Label> 
                <label textWrap="true" class="h1 description-label bg-primary text-center" text="¡Importante!"></label>
                <label textWrap="true" class="h2 description-label" text="Estimado usuario te informamos que debido al alto volumen de envíos generados y a los protocolos de prevención del COVID-19, presentamos algunas novedades de operación."></label>
                <Label textWrap="true" class="h2 description-label" text="Estamos haciendo todo lo posible para superar rápidamente estas novedades." ></Label>
            </StackLayout> 
        </ScrollView>
    </GridLayout>
